@model Rembrandt.Contracts.Classes.Dataset.ObservationDto
@{
    ViewData["Title"] = "Add";
}
<h1>@ViewData["Title"]</h1>
<p>Add new observation.</p>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    Fill all forms to add a new record to database!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">General</a>
                <a class="nav-link" id="v-pills-attributes-tab" data-toggle="pill" href="#v-pills-attributes" role="tab" aria-controls="v-pills-attributes" aria-selected="false">Attributes</a>
                <a class="nav-link" id="v-pills-activities-tab" data-toggle="pill" href="#v-pills-activities" role="tab" aria-controls="v-pills-activities" aria-selected="false">Activities</a>
                <a class="nav-link" id="v-pills-contributor-tab" data-toggle="pill" href="#v-pills-contributor" role="tab" aria-controls="v-pills-contributor" aria-selected="false">Contributor</a>
                <a class="nav-link" id="v-pills-submit-tab" data-toggle="pill" href="#v-pills-submit" role="tab" aria-controls="v-pills-submit" aria-selected="false" onclick="datetime()">Submit</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
                <div id="general">
                    <div class="form-group">
                        <label for="siteId">Select location ID</label>
                        <select class="form-control" id="siteId">
                            @for(int i =0; i<= 30; i++)
                            {
                                <option>@i</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="PhotoAddress">Photo of location:</label>
                        <input type="file" class="form-control-file" id="photoLocation">
                    </div>
                    <div id="map">
                    </div>
                    <div id="coordinates">
                        <table class="table table-striped table-hover ">
                            <tr>
                                <td>Location:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Latitude</td>
                                <td id="latitude-value"></td>
                            </tr>
                            <tr>
                                <td>Longitude</td>
                                <td id="longitude-value"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-attributes" role="tabpanel" aria-labelledby="v-pills-attributes-tab">
                @foreach(var property in @Model.Attributes.GetType().GetProperties())
                {
                    <div class="form-group">
                        <b>@property.Name</b>
                        <input type="range" class="form-control-range" id="@property.Name" min="0" max="10" value="5" name="attribute">
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="v-pills-activities" role="tabpanel" aria-labelledby="v-pills-activities-tab">
                <table class="table table-striped table-hover">
                    <tr>
                        <td style="font-size: large">Is this area suitable for:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @foreach(var property in @Model.Activities.GetType().GetProperties())
                    {
                    <tr>
                        <td>@property.Name?</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="" name="@property.Name" checked aria-checked="true">
                                <label class="form-check-label" for="@property.Name">No opinion</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="true" name="@property.Name">
                                <label class="form-check-label" for="@property.Name">Suitable</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="false" name="@property.Name">
                                <label class="form-check-label" for="@property.Name">Not Suitable</label>
                            </div>
                        </td>
                    </tr>
                    }
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-contributor" role="tabpanel" aria-labelledby="v-pills-contributor-tab">
                <label for="age-range">
                    To which age group do you belong to?
                </label>
                <select class="form-control contributor" id="contributor-Age">
                    <option value="">Select your age range</option>
                    <option value="4">Below 29 years old</option>
                    <option value="5">Between 30 and 39 years old</option>
                    <option value="6">Between 40 and 49 years old</option>
                    <option value="7">Between 50 and 59 years old</option>
                    <option value="8">Above 60 years old</option>
                </select>
                <br />
                <label for="contributor-gender">What is your gender?</label>
                <select class="form-control contributor" id="contributor-Gender">
                    <option value="">Select your gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
                <br />
                <label for="contributor-education">What is your education level?</label>
                <select class="form-control contributor" id="contributor-Education">
                    <option value="">Select education level</option>
                    <option value="1">Primary School</option>
                    <option value="2">High School</option>
                    <option value="3">Vocational Training</option>
                    <option value="4">College Or University</option>
                </select>
                <br />
                <label for="contributor-often-visit">How often do you visit Rembrandt Park?</label>
                <select class="form-control contributor" id="contributor-VisitFreq">
                    <option value="">Select an option</option>
                    <option value="1">Every day</option>
                    <option value="2">Several Times Per Week</option>
                    <option value="3">Once a week</option>
                    <option value="4">From 1 to 3 Times A Month</option>
                    <option value="5">Less Than Once A Month</option>
                    <option value="6">First Time Here</option>
                    <option value="7">I do not want to share this information.</option>
                </select>
                <br />
                <label for="contributor-other-parks">How often do you visit other parks?</label>
                <select class="form-control contributor" id="contributor-VisitOtherParks">
                    <option value="">Select an option</option>
                    <option value="1">Every day</option>
                    <option value="2">Several Times Per Week</option>
                    <option value="3">Once a week</option>
                    <option value="4">From 1 to 3 Times A Month</option>
                    <option value="5">Less Than Once A Month</option>
                    <option value="6">First Time Here</option>
                    <option value="7">I do not want to share this information.</option>
                </select>
                <br />
                <label for="contributor-NatureOriented">Are you nature oriented person?</label>
                <select class="form-control contributor" id="contributor-NatureOriented">
                    <option value="">Select an option</option>
                    <option value="1">Disagree</option>
                    <option value="2">Somewhat</option>
                    <option value="3">Agree</option>
                    <option value="4">I do not want to share this information.</option>
                </select>
                <br />
                <hr style="width:100%;text-align:left;margin-left:0">
                <table class="table table-striped table-hover">
                <tr>
                    <th>Please fill information about you:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        Are you dutch nationality?
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="DutchNationality" value="true">
                            <label class="form-check-label" for="DutchNationality">Dutch</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="DutchNationality" value="false">
                            <label class="form-check-label" for="DutchNationality">Non-Dutch</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="DutchNationality" value="" checked>
                            <label class="form-check-label" for="DutchNationality">I do not want to share this information.</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Do you visit park daily?
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="VisitDaily" value="true">
                            <label class="form-check-label" for="VisitDaily">Visit Daily</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="VisitDaily" value="false">
                            <label class="form-check-label" for="VisitDaily">Not Visit Daily</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="VisitDaily" value="" checked>
                            <label class="form-check-label" for="VisitDaily">No opinion</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Do you visit alone?
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="VisitAlone" value="true">
                            <label class="form-check-label" for="VisitAlone">Visit alone</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="VisitAlone" value="false">
                            <label class="form-check-label" for="VisitAlone">Not alone</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="VisitAlone" value="" checked>
                            <label class="form-check-label" for="VisitAlone">No opinion</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Do you want to be more involved?
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="MoreInvolved" value="true">
                            <label class="form-check-label" for="MoreInvolved">More involved</label>
                        </div>          
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="MoreInvolved" value="false">
                            <label class="form-check-label" for="MoreInvolved">I don't want to be more involved.</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="MoreInvolved" value="" checked>
                            <label class="form-check-label" for="MoreInvolved">No opinion</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Do you visit with children?
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="WithChildren" value="true">
                            <label class="form-check-label" for="WithChildren">With children</label>
                        </div>    
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="WithChildren" value="false">
                            <label class="form-check-label" for="WithChildren">No children</label>
                        </div>    
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input contributor-radios" type="radio" name="WithChildren" value="" checked>
                            <label class="form-check-label" for="WithChildren">No opinion</label>
                        </div>
                    </td>
                </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-submit" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="form-group row">
                    <label for="example-datetime-local-input" class="col-2 col-form-label">Observation date and time</label>
                    <div class="col-10">
                        <input class="form-control" type="datetime-local" id="datetime-input">
                    </div>
                </div>
                <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" onclick="submit()">Submit</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/moment.min.js">
    </script>
    <script>
        function datetime() {
            var today = moment().format("YYYY-MM-DD[T]hh:mm:ss");
            document.getElementById('datetime-input').value = today;
        }

        function submit() {

            var observation = new Object();

            //side id
            observation["siteId"] = parseInt(document.getElementById("siteId").value);

            //location
            observation['Park'] = new Object();
            var measuredLocation = new Object();

            measuredLocation['Longitude'] = markers[0].position.lng();
            measuredLocation['Latitude'] = markers[0].position.lat();

            observation['Park']['MeasuredLocation'] = measuredLocation;
            observation['Park']['ActualLocation'] = measuredLocation;
            //attributes
            var attributesValues = document.getElementsByName('attribute');
            var attributes = new Object();
            for(var item of attributesValues) {
                attributes[item.id] = parseInt(item.value);
            }
            observation['Attributes'] = attributes;

            //activities
            var activitiesValues = document.getElementsByTagName('input');
            var activities = new Object();
            for(i=0; i < activitiesValues.length; i++) {
                if(activitiesValues[i].type == 'radio' && activitiesValues[i].checked && (!activitiesValues[i].classList.contains('contributor-radios'))) {
                    if(activitiesValues[i].value == '') {
                        activities[activitiesValues[i].name] = null
                    }
                    else {
                        activities[activitiesValues[i].name] = (activitiesValues[i].value == 'true');
                    }
                }
            }
            observation['Activities'] = activities;

            //time
            observation['TimeSubmitted'] = new Date(document.getElementById('datetime-input').value);

            //contributor
            var contributorDetails = new Object();
            var definedClass = 'Contributor';
            let containers = document.getElementsByClassName(definedClass.toLowerCase());

            for(var item of containers) {
                if(item.value != '') {
                    contributorDetails[item.id.substring(definedClass.length + 1)] = parseInt(item.value);
                }
                else {
                    contributorDetails[item.id.substring(definedClass.length + 1)] = null;
                }
            }

            // radios 
            var radios = document.getElementsByTagName('input')
            for(var radio of radios) {
                if(radio.type == 'radio' && radio.classList.contains('contributor-radios')) {
                    if(radio.checked) {
                        contributorDetails[radio.name] = radio.value == "" ? null : (radio.value == 'true');
                    }
                }
            }
            observation[definedClass] = contributorDetails;
            $.post("@Url.Action("Submit", "Rembrandt")", observation, function() {
                alert("The observation has been added to database!"
                )});
        };

        //map
        let map;
        var markers = [];

        function addMarker(latLng) {
            let marker = new google.maps.Marker({
                map: map,
                position: latLng,
                draggable: true
            });
            document.getElementById('latitude-value').innerHTML = marker.position.lat().toFixed(6);
            document.getElementById('longitude-value').innerHTML = marker.position.lng().toFixed(6);
            markers.push(marker);
        };

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 52.3633995, lng: 4.8459126},
            zoom: 15
        });

        map.addListener('click', function(e) {
            setMapOnAll(null)
            addMarker(e.latLng);
            });
        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgpHpnK2Fgy1xVldrfRrcZHds8Yrr-Kik&callback=initMap&libraries=&v=weekly">
    </script>
}